body{
    background-color: darkgrey;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    color:white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button{
    padding: 10px;
    width: 120px;
    margin-bottom: 23px;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#score{
    color: white;
    font-size: 22px;
}